
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  border-radius: 0!important;
}

html{
  overflow-y: scroll;
}

.dropdown-menu {
    min-width: 15rem;
}

.breadcrumb{
  font-size: 15px!important;
  padding: 8px 14px!important;
}