
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "main-page";
@import "trumbowyg";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  border-radius: 0!important;
}

html{
  overflow-y: scroll;
}

body{
  background-color: #eeeeee;
  font-family: "Raleway", sans-serif;
}

.navigation{
    a {
      text-decoration: none!important;
      font-size: 18px;
      border-bottom: 4px solid #212529;
    }
    a:hover {
      border-bottom: 4px solid white;
    }
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Nunito", Arial, sans-serif;
  margin: 0;
}

p{
  margin: 0;
}

.text-no-underline {
  text-decoration: none!important;
}

.upper {
  background-color: #303133;
}
.lower {
  background-color: #262626;
}

.dropdown-menu {
    min-width: 15rem;
}

.breadcrumb{
  font-size: 15px!important;
  padding: 8px 14px!important;
}


