
p{
  margin: 0;
}

h2 {
  font-size: 45px;
}

.main-banner {
  background-color: #2196f3;
  background-size: cover;
}

.main-banner p {
  font-size: 22px;
}

.block-wrapper {
  padding: 2em 0;
}

.block-wrapper:nth-child(even) {
  border: 1px solid #e6e6e6;
  background-color: white;
  z-index:999;
}

.block-wrapper:nth-child(odd){
  color: white!important;
}

.block-wrapper .card{
  border: 0;
}

.upper {
  background-color: #303133;
}
.lower {
  background-color: #262626;
}

.page-header {
  padding: 4em 0;
  background-color: #343a40;
  background-size: cover;
}

.main-banner h2 {
  font-size: 50px!important;
}

.main {
  padding-top: 2em;
  padding-bottom: 2em;
}

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#14B1C9 0%, #0C73A7 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #0C73A7;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #0C73A7;
}

.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #0C73A7;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #0C73A7;
}

.breadcrumb{
  font-size: 15px!important;
  padding: 8px 14px!important;
}
